 background-image:(nadal.jpg);
}
 
}
header{font-family:Arial;}
header nav{
	color: red;
}
header nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
header nav ul li{
	margin:0;
	padding:0;
	float:right;
	width:200px;
	height:40px;
	background-color:#000000;
	line-height:40px;
	text-align:center;
}

a
{
color: red;
text-decoration: none;
}

header nav ul li a {
display:block;
}
header nav ul li a:hover {
	background-color:black;
}
header nav ul li ul li{
display:none;
}
header nav ul li:hover ul li{
display: block;
}ss