body {
 background-color: #FFFF6B;
 color: black;
text-align: center;
font-family: Arial;
font-size: 13px;
line-height: 120%;
background-repeat:no-repeat;
background-position: center;
margin-left: -40px;
background-repeat: no-repeat;
}



