body {
background-color: #C4698F;
text-align: center;
size:100px;
font-family: Arial;
font-size: 13px;
line-height: 120%;
background-repeat:no-repeat;
background-position: center ;
margin: 20px;
}

